# Explore Capital Need for the Banking System of Ghana(Millions of Ghana Cedis)

In [12]:
# Import the necessary libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [14]:
assetData = pd.read_csv('banking_system_asset_ghana.csv')
liabilityData = pd.read_csv('banking_system_liability_ghana.csv')

In [15]:
assetData.head()

,Year,Variables,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2022,Total Assets of the Banking System (Millions ...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20",0.00,0.00
1,2022,Total Assets of the Banking System (Millions ...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20","194,979.44","180,266.84"
2,2021,Total Assets of the Banking System (Millions ...,"117,976.85","118,467.48","119,445.22","118,933.79","120,451.55","121,891.32","122,643.76","123,548.57","124,596.60","129,231.01","131,645.92","135,555.75"
3,2020,Total Assets of the Banking System (Millions ...,"91,907.42","91,762.67","92,905.07","94,556.02","98,540.00","100,498.91","101,564.14","102,814.68","109,134.38","112,859.69","116,597.74","120,521.82"
4,2019,Total Assets of the Banking System (Millions ...,"78,580.20","80,115.31","81,837.16","81,021.35","81,870.59","83,517.12","81,991.64","82,381.98","85,873.08","86,834.80","89,750.09","92,952.95"

In [16]:
liabilityData.head()

,Year,Variables,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2022,Total Liabilities of the Bankning System (Mill...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20",0.00,0.00
1,2022,Total Liabilities of the Bankning System (Mill...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20","194,979.44","180,266.84"
2,2021,Total Liabilities of the Bankning System (Mill...,"117,976.85","118,467.48","119,445.22","118,933.79","120,451.55","121,891.32","122,643.76","123,548.57","124,596.60","129,231.01","131,645.92","135,555.75"
3,2020,Total Liabilities of the Bankning System (Mill...,"91,907.42","91,762.67","92,905.07","94,556.02","98,540.00","100,498.91","101,564.14","102,814.68","109,134.38","112,859.69","116,597.74","120,521.82"
4,2019,Total Liabilities of the Bankning System (Mill...,"78,580.20","80,115.31","81,837.16","81,021.35","81,870.59","83,517.12","81,991.64","82,381.98","85,873.08","86,834.80","89,750.09","92,952.95"

In [18]:
assetData['total'] = assetData['Jan']+assetData['Dec']

In [19]:
assetData['total']

0           137,474.290.00
1     137,474.29180,266.84
2     117,976.85135,555.75
3      91,907.42120,521.82
4       78,580.2092,952.95
5       65,731.0976,380.39
6       58,436.4366,170.14
7       46,129.5756,692.09
8       36,835.2746,455.23
9       27,754.3136,843.07
10      22,199.6726,937.02
11      18,097.3722,620.05
12      13,644.8818,195.19
13      10,222.3313,663.00
14       7,823.9710,211.40
15        5,710.318,128.09
16        4,276.075,750.58
17        3,067.314,230.25
18        2,587.343,046.79
19        2,147.132,666.72
20        1,540.842,117.39
21        1,043.661,536.81
22          747.131,024.80
23            492.93724.81
Name: total, dtype: object

In [20]:
assetData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       24 non-null     int64
 1   Variables  24 non-null     object
 2   Jan        24 non-null     object
 3   Feb        24 non-null     object
 4   Mar        24 non-null     object
 5   Apr        24 non-null     object
 6   May        24 non-null     object
 7   Jun        24 non-null     object
 8   Jul        24 non-null     object
 9   Aug        24 non-null     object
 10  Sep        24 non-null     object
 11  Oct        24 non-null     object
 12  Nov        24 non-null     object
 13  Dec        24 non-null     object
 14  total      24 non-null     object
dtypes: int64(1), object(14)
memory usage: 2.9+ KB

In [21]:
def check_data(df):
    print(80 * "*")
    print('DIMENSION: ({}, {})'.format(df.shape[0], df.shape[1]))
    print(80 * "*")
    print("COLUMNS:\n")
    print(df.columns.values)
    print(80 * "*")
    print("DATA INFO:\n")
    print(df.dtypes)
    print(80 * "*")
    print("MISSING VALUES:\n")
    print(df.isnull().sum())
    print(80 * "*")
    print("NUMBER OF UNIQUE VALUES:\n")
    print(df.nunique())

In [22]:
check_data(assetData)

********************************************************************************
DIMENSION: (24, 15)
********************************************************************************
COLUMNS:

['Year' 'Variables' 'Jan' 'Feb' 'Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep'
 'Oct' 'Nov' 'Dec' 'total']
********************************************************************************
DATA INFO:

Year          int64
Variables    object
Jan          object
Feb          object
Mar          object
Apr          object
May          object
Jun          object
Jul          object
Aug          object
Sep          object
Oct          object
Nov          object
Dec          object
total        object
dtype: object
********************************************************************************
MISSING VALUES:

Year         0
Variables    0
Jan          0
Feb          0
Mar          0
Apr          0
May          0
Jun          0
Jul          0
Aug          0
Sep          0
Oct          0
Nov          0
Dec          0
total        0
dtype: int64
********************************************************************************
NUMBER OF UNIQUE VALUES:

Year         23
Variables     1
Jan          23
Feb          23
Mar          23
Apr          23
May          23
Jun          23
Jul          23
Aug          23
Sep          23
Oct          23
Nov          24
Dec          24
total        24
dtype: int64

In [24]:
check_data(liabilityData)

********************************************************************************
DIMENSION: (24, 14)
********************************************************************************
COLUMNS:

['Year' 'Variables' 'Jan' 'Feb' 'Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep'
 'Oct' 'Nov' 'Dec']
********************************************************************************
DATA INFO:

Year          int64
Variables    object
Jan          object
Feb          object
Mar          object
Apr          object
May          object
Jun          object
Jul          object
Aug          object
Sep          object
Oct          object
Nov          object
Dec          object
dtype: object
********************************************************************************
MISSING VALUES:

Year         0
Variables    0
Jan          0
Feb          0
Mar          0
Apr          0
May          0
Jun          0
Jul          0
Aug          0
Sep          0
Oct          0
Nov          0
Dec          0
dtype: int64
********************************************************************************
NUMBER OF UNIQUE VALUES:

Year         23
Variables     1
Jan          23
Feb          23
Mar          23
Apr          23
May          23
Jun          23
Jul          23
Aug          23
Sep          23
Oct          23
Nov          24
Dec          24
dtype: int64

In [29]:
assetData['total'] =  assetData.loc[:, 'Jan':'Dec'].sum(axis=1)

In [30]:
assetData['total']

0     137,474.29139,444.38142,729.13142,563.67142,64...
1     137,474.29139,444.38142,729.13142,563.67142,64...
2     117,976.85118,467.48119,445.22118,933.79120,45...
3     91,907.4291,762.6792,905.0794,556.0298,540.001...
4     78,580.2080,115.3181,837.1681,021.3581,870.598...
5     65,731.0965,460.4767,318.4768,362.4868,909.376...
6     58,436.4358,346.7658,139.8058,195.1658,400.175...
7     46,129.5744,928.2045,333.7945,962.8147,218.014...
8     36,835.2737,673.4038,387.8039,512.4540,416.774...
9     27,754.3128,317.7529,214.0629,683.5930,371.463...
10    22,199.6722,505.7822,990.7123,061.0323,213.452...
11    18,097.3718,270.4518,500.1619,158.5919,831.402...
12    13,644.8813,719.9214,334.4814,728.8914,727.881...
13    10,222.3310,094.0710,538.0210,408.2110,467.061...
14    7,823.977,846.658,211.888,200.388,350.258,620....
15    5,710.315,758.475,959.406,010.746,251.266,197....
16    4,276.074,229.144,282.364,470.644,594.694,524....
17    3,067.313,137.953,150.083,283.513,337.193,407....
18    2,587.342,605.442,633.672,689.772,689.812,710....
19    2,147.132,116.412,124.802,145.482,187.462,249....
20    1,540.841,557.511,520.981,513.551,580.821,604....
21    1,043.661,057.821,074.521,079.171,102.891,125....
22    747.13751.51756.23762.09765.78771.13796.35807....
23    492.93496.63514.67528.89544.53564.73587.95600....
Name: total, dtype: object

In [31]:
assetData

,Year,Variables,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,2022,Total Assets of the Banking System (Millions ...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20",0.00,0.00,"137,474.29139,444.38142,729.13142,563.67142,64..."
1,2022,Total Assets of the Banking System (Millions ...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20","194,979.44","180,266.84","137,474.29139,444.38142,729.13142,563.67142,64..."
2,2021,Total Assets of the Banking System (Millions ...,"117,976.85","118,467.48","119,445.22","118,933.79","120,451.55","121,891.32","122,643.76","123,548.57","124,596.60","129,231.01","131,645.92","135,555.75","117,976.85118,467.48119,445.22118,933.79120,45..."
3,2020,Total Assets of the Banking System (Millions ...,"91,907.42","91,762.67","92,905.07","94,556.02","98,540.00","100,498.91","101,564.14","102,814.68","109,134.38","112,859.69","116,597.74","120,521.82","91,907.4291,762.6792,905.0794,556.0298,540.001..."
4,2019,Total Assets of the Banking System (Millions ...,"78,580.20","80,115.31","81,837.16","81,021.35","81,870.59","83,517.12","81,991.64","82,381.98","85,873.08","86,834.80","89,750.09","92,952.95","78,580.2080,115.3181,837.1681,021.3581,870.598..."
5,2018,Total Assets of the Banking System (Millions ...,"65,731.09","65,460.47","67,318.47","68,362.48","68,909.37","68,402.24","71,413.78","73,665.72","73,821.71","74,641.05","75,899.85","76,380.39","65,731.0965,460.4767,318.4768,362.4868,909.376..."
6,2017,Total Assets of the Banking System (Millions ...,"58,436.43","58,346.76","58,139.80","58,195.16","58,400.17","59,903.81","61,134.32","59,845.30","59,491.10","63,669.19","63,696.51","66,170.14","58,436.4358,346.7658,139.8058,195.1658,400.175..."
7,2016,Total Assets of the Banking System (Millions ...,"46,129.57","44,928.20","45,333.79","45,962.81","47,218.01","46,457.81","47,038.16","47,895.48","48,344.65","50,723.61","52,926.46","56,692.09","46,129.5744,928.2045,333.7945,962.8147,218.014..."
8,2015,Total Assets of the Banking System (Millions ...,"36,835.27","37,673.40","38,387.80","39,512.45","40,416.77","41,466.52","37,355.35","39,735.98","39,526.20","42,346.69","43,822.29","46,455.23","36,835.2737,673.4038,387.8039,512.4540,416.774..."
9,2014,Total Assets of the Banking System (Millions ...,"27,754.31","28,317.75","29,214.06","29,683.59","30,371.46","30,737.84","31,501.40","31,643.65","32,052.35","33,400.13","34,743.60","36,843.07","27,754.3128,317.7529,214.0629,683.5930,371.463..."
10,2013,Total Assets of the Banking System (Millions ...,"22,199.67","22,505.78","22,990.71","23,061.03","23,213.45","23,303.28","23,302.68","23,236.12","23,997.96","24,937.63","25,843.73","26,937.02","22,199.6722,505.7822,990.7123,061.0323,213.452..."
11,2012,Total Assets of the Banking System (Millions ...,"18,097.37","18,270.45","18,500.16","19,158.59","19,831.40","20,399.11","19,905.35","20,122.88","20,411.94","20,641.99","21,959.08","22,620.05","18,097.3718,270.4518,500.1619,158.5919,831.402..."
12,2011,Total Assets of the Banking System (Millions ...,"13,644.88","13,719.92","14,334.48","14,728.89","14,727.88","15,202.10","15,353.82","15,388.72","15,851.24","16,929.14","17,393.33","18,195.19","13,644.8813,719.9214,334.4814,728.8914,727.881..."
13,2010,Total Assets of the Banking System (Millions ...,"10,222.33","10,094.07","10,538.02","10,408.21","10,467.06","10,846.04","10,770.76","10,830.00","11,170.81","12,259.59","12,924.82","13,663.00","10,222.3310,094.0710,538.0210,408.2110,467.061..."
14,2009,Total Assets of the Banking System (Millions ...,"7,823.97","7,846.65","8,211.88","8,200.38","8,350.25","8,620.94","8,793.86","8,694.71","8,728.77","9,214.49","9,711.33","10,211.40","7,823.977,846.658,211.888,200.388,350.258,620...."
15,2008,Total Assets of the Banking System (Millions ...,"5,710.31","5,758.47","5,959.40","6,010.74","6,251.26","6,197.82","6,518.21","6,694.86","6,938.38","7,059.29","7,194.49","8,128.09","5,710.315,758.475,959.406,010.746,251.266,197...."
16,2007,Total Assets of the Banking System (Millions ...,"4,276.07","4,229.14","4,282.36","4,470.64","4,594.69","4,524.79","4,664.71","4,757.26","4,831.27","5,130.03","5,443.08","5,750.58","4,276.074,229.144,282.364,470.644,594.694,524...."
17,2006,Total Assets of the Banking System (Millions ...,"3,067.31","3,137.95","3,150.08","3,283.51","3,337.19","3,407.94","3,462.11","3,523.58","3,608.26","3,745.66","3,940.15","4,230.25","3,067.313,137.953,150.083,283.513,337.193,407...."
18,2005,Total Assets of the Banking System (Millions ...,"2,587.34","2,605.44","2,633.67","2,689.77","2,689.81","2,710.80","2,711.24","2,801.03","2,700.57","2,870.24","2,876.85","3,046.79","2,587.342,605.442,633.672,689.772,689.812,710...."
19,2004,Total Assets of the Banking System (Millions ...,"2,147.13","2,116.41","2,124.80","2,145.48","2,187.46","2,249.03","2,248.71","2,277.90","2,328.51","2,467.86","2,600.76","2,666.72","2,147.132,116.412,124.802,145.482,187.462,249...."
20,2003,Total Assets of the Banking System (Millions ...,"1,540.84","1,557.51","1,520.98","1,513.55","1,580.82","1,604.27","1,625.45","1,651.07","1,644.59","1,799.66","1,927.77","2,117.39","1,540.841,557.511,520.981,513.551,580.821,604...."
21,2002,Total Assets of the Banking System (Millions ...,"1,043.66","1,057.82","1,074.52","1,079.17","1,102.89","1,125.98","1,164.99","1,181.51","1,213.57","1,303.06","1,432.65","1,536.81","1,043.661,057.821,074.521,079.171,102.891,125...."
22,2001,Total Assets of the Banking System (Millions ...,747.13,751.51,756.23,762.09,765.78,771.13,796.35,807.67,848.53,898.51,966.19,"1,024.80",747.13751.51756.23762.09765.78771.13796.35807....
23,2000,Total Assets of the Banking System (Millions ...,492.93,496.63,514.67,528.89,544.53,564.73,587.95,600.65,627.01,641.76,692.70,724.81,492.93496.63514.67528.89544.53564.73587.95600....

In [33]:
assetData['Year']

0     2022
1     2022
2     2021
3     2020
4     2019
5     2018
6     2017
7     2016
8     2015
9     2014
10    2013
11    2012
12    2011
13    2010
14    2009
15    2008
16    2007
17    2006
18    2005
19    2004
20    2003
21    2002
22    2001
23    2000
Name: Year, dtype: int64

In [34]:
liabilityData['total'] =  liabilityData.loc[:, 'Jan':'Dec'].sum(axis=1)

In [35]:
liabilityData

,Year,Variables,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,2022,Total Liabilities of the Bankning System (Mill...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20",0.00,0.00,"137,474.29139,444.38142,729.13142,563.67142,64..."
1,2022,Total Liabilities of the Bankning System (Mill...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20","194,979.44","180,266.84","137,474.29139,444.38142,729.13142,563.67142,64..."
2,2021,Total Liabilities of the Bankning System (Mill...,"117,976.85","118,467.48","119,445.22","118,933.79","120,451.55","121,891.32","122,643.76","123,548.57","124,596.60","129,231.01","131,645.92","135,555.75","117,976.85118,467.48119,445.22118,933.79120,45..."
3,2020,Total Liabilities of the Bankning System (Mill...,"91,907.42","91,762.67","92,905.07","94,556.02","98,540.00","100,498.91","101,564.14","102,814.68","109,134.38","112,859.69","116,597.74","120,521.82","91,907.4291,762.6792,905.0794,556.0298,540.001..."
4,2019,Total Liabilities of the Bankning System (Mill...,"78,580.20","80,115.31","81,837.16","81,021.35","81,870.59","83,517.12","81,991.64","82,381.98","85,873.08","86,834.80","89,750.09","92,952.95","78,580.2080,115.3181,837.1681,021.3581,870.598..."
5,2018,Total Liabilities of the Bankning System (Mill...,"65,731.09","65,460.47","67,318.47","68,362.48","68,909.37","68,402.24","71,413.78","73,665.72","73,821.71","74,641.05","75,899.85","76,380.39","65,731.0965,460.4767,318.4768,362.4868,909.376..."
6,2017,Total Liabilities of the Bankning System (Mill...,"58,436.43","58,346.76","58,139.80","58,195.16","58,400.17","59,903.81","61,134.32","59,845.30","59,491.10","63,669.19","63,696.51","66,170.14","58,436.4358,346.7658,139.8058,195.1658,400.175..."
7,2016,Total Liabilities of the Bankning System (Mill...,"46,129.57","44,928.20","45,333.79","45,962.81","47,218.01","46,457.81","47,038.16","47,895.48","48,344.65","50,723.61","52,926.46","56,692.09","46,129.5744,928.2045,333.7945,962.8147,218.014..."
8,2015,Total Liabilities of the Bankning System (Mill...,"36,835.27","37,673.40","38,387.80","39,512.45","40,416.77","41,466.52","37,355.35","39,735.98","39,526.20","42,346.69","43,822.29","46,455.23","36,835.2737,673.4038,387.8039,512.4540,416.774..."
9,2014,Total Liabilities of the Bankning System (Mill...,"27,754.31","28,317.75","29,214.06","29,683.59","30,371.46","30,737.84","31,501.40","31,643.65","32,052.35","33,400.13","34,743.60","36,843.07","27,754.3128,317.7529,214.0629,683.5930,371.463..."
10,2013,Total Liabilities of the Bankning System (Mill...,"22,199.67","22,505.78","22,990.71","23,061.03","23,213.45","23,303.28","23,302.68","23,236.12","23,997.96","24,937.63","25,843.73","26,937.02","22,199.6722,505.7822,990.7123,061.0323,213.452..."
11,2012,Total Liabilities of the Bankning System (Mill...,"18,097.37","18,270.45","18,500.16","19,158.59","19,831.40","20,399.11","19,905.35","20,122.88","20,411.94","20,641.99","21,959.08","22,620.05","18,097.3718,270.4518,500.1619,158.5919,831.402..."
12,2011,Total Liabilities of the Bankning System (Mill...,"13,644.88","13,719.92","14,334.48","14,728.89","14,727.88","15,202.10","15,353.82","15,388.72","15,851.24","16,929.14","17,393.33","18,195.19","13,644.8813,719.9214,334.4814,728.8914,727.881..."
13,2010,Total Liabilities of the Bankning System (Mill...,"10,222.33","10,094.07","10,538.02","10,408.21","10,467.06","10,846.04","10,770.76","10,830.00","11,170.81","12,259.59","12,924.82","13,663.00","10,222.3310,094.0710,538.0210,408.2110,467.061..."
14,2009,Total Liabilities of the Bankning System (Mill...,"7,823.97","7,846.65","8,211.88","8,200.38","8,350.25","8,620.94","8,793.86","8,694.71","8,728.77","9,214.49","9,711.33","10,211.40","7,823.977,846.658,211.888,200.388,350.258,620...."
15,2008,Total Liabilities of the Bankning System (Mill...,"5,710.31","5,758.47","5,959.40","6,010.74","6,251.26","6,197.82","6,518.21","6,694.86","6,938.38","7,059.29","7,194.49","8,128.09","5,710.315,758.475,959.406,010.746,251.266,197...."
16,2007,Total Liabilities of the Bankning System (Mill...,"4,276.07","4,229.14","4,282.36","4,470.64","4,594.69","4,524.79","4,664.71","4,757.26","4,831.27","5,130.03","5,443.08","5,750.58","4,276.074,229.144,282.364,470.644,594.694,524...."
17,2006,Total Liabilities of the Bankning System (Mill...,"3,067.31","3,137.95","3,150.08","3,283.51","3,337.19","3,407.94","3,462.11","3,523.58","3,608.26","3,745.66","3,940.15","4,230.25","3,067.313,137.953,150.083,283.513,337.193,407...."
18,2005,Total Liabilities of the Bankning System (Mill...,"2,587.34","2,605.44","2,633.67","2,689.77","2,689.81","2,710.80","2,711.24","2,801.03","2,700.57","2,870.24","2,876.85","3,046.79","2,587.342,605.442,633.672,689.772,689.812,710...."
19,2004,Total Liabilities of the Bankning System (Mill...,"2,147.13","2,116.41","2,124.80","2,145.48","2,187.46","2,249.03","2,248.71","2,277.90","2,328.51","2,467.86","2,600.76","2,666.72","2,147.132,116.412,124.802,145.482,187.462,249...."
20,2003,Total Liabilities of the Bankning System (Mill...,"1,540.84","1,557.51","1,520.98","1,513.55","1,580.82","1,604.27","1,625.45","1,651.07","1,644.59","1,799.66","1,927.77","2,117.39","1,540.841,557.511,520.981,513.551,580.821,604...."
21,2002,Total Liabilities of the Bankning System (Mill...,"1,043.66","1,057.82","1,074.52","1,079.17","1,102.89","1,125.98","1,164.99","1,181.51","1,213.57","1,303.06","1,432.65","1,536.81","1,043.661,057.821,074.521,079.171,102.891,125...."
22,2001,Total Liabilities of the Bankning System (Mill...,747.13,751.51,756.23,762.09,765.78,771.13,796.35,807.67,848.53,898.51,966.19,"1,024.80",747.13751.51756.23762.09765.78771.13796.35807....
23,2000,Total Liabilities of the Bankning System (Mill...,492.93,496.63,514.67,528.89,544.53,564.73,587.95,600.65,627.01,641.76,692.70,724.81,492.93496.63514.67528.89544.53564.73587.95600....

In [36]:
liabilityData['Year']

0     2022
1     2022
2     2021
3     2020
4     2019
5     2018
6     2017
7     2016
8     2015
9     2014
10    2013
11    2012
12    2011
13    2010
14    2009
15    2008
16    2007
17    2006
18    2005
19    2004
20    2003
21    2002
22    2001
23    2000
Name: Year, dtype: int64

In [37]:
assetData.isnull().sum()

Year         0
Variables    0
Jan          0
Feb          0
Mar          0
Apr          0
May          0
Jun          0
Jul          0
Aug          0
Sep          0
Oct          0
Nov          0
Dec          0
total        0
dtype: int64

In [38]:
liabilityData.isnull().sum()

Year         0
Variables    0
Jan          0
Feb          0
Mar          0
Apr          0
May          0
Jun          0
Jul          0
Aug          0
Sep          0
Oct          0
Nov          0
Dec          0
total        0
dtype: int64

In [40]:
assetModel = LinearRegression()
liabilityModel  = LinearRegression()

In [45]:
assetX = assetData[['Year']]

In [46]:
assetY = assetData['total']

In [49]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(assetX, assetY, test_size = 0.3)

In [50]:
x_train

    Year
16  2007
15  2008
23  2000
20  2003
18  2005
8   2015
9   2014
12  2011
10  2013
21  2002
2   2021
22  2001
3   2020
5   2018
11  2012
1   2022

In [51]:
x_test

    Year
14  2009
19  2004
17  2006
7   2016
0   2022
6   2017
13  2010
4   2019

In [44]:
assetModel.fit(x_train, y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[2012 2013 2001 2018 2004 2000 2003 2007 2011 2014 2020 2021 2017 2016
 2015 2022].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [52]:
interest_rate_values = [29.50, 22.50, 25.00, 27.50, 28.00, 27.50, 25.00, 22.50, 20.00, 18.50, 17.50, 15.00, 15.00, 17.50, 17.50, 15.00, 12.50, 18.50, 24.00, 27.50, 25.50, 25.50, 25.50]

In [54]:
len(interest_rate_values)

23

In [55]:
assetData['Year']

0     2022
1     2022
2     2021
3     2020
4     2019
5     2018
6     2017
7     2016
8     2015
9     2014
10    2013
11    2012
12    2011
13    2010
14    2009
15    2008
16    2007
17    2006
18    2005
19    2004
20    2003
21    2002
22    2001
23    2000
Name: Year, dtype: int64

In [56]:
assetData

,Year,Variables,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,2022,Total Assets of the Banking System (Millions ...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20",0.00,0.00,"137,474.29139,444.38142,729.13142,563.67142,64..."
1,2022,Total Assets of the Banking System (Millions ...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20","194,979.44","180,266.84","137,474.29139,444.38142,729.13142,563.67142,64..."
2,2021,Total Assets of the Banking System (Millions ...,"117,976.85","118,467.48","119,445.22","118,933.79","120,451.55","121,891.32","122,643.76","123,548.57","124,596.60","129,231.01","131,645.92","135,555.75","117,976.85118,467.48119,445.22118,933.79120,45..."
3,2020,Total Assets of the Banking System (Millions ...,"91,907.42","91,762.67","92,905.07","94,556.02","98,540.00","100,498.91","101,564.14","102,814.68","109,134.38","112,859.69","116,597.74","120,521.82","91,907.4291,762.6792,905.0794,556.0298,540.001..."
4,2019,Total Assets of the Banking System (Millions ...,"78,580.20","80,115.31","81,837.16","81,021.35","81,870.59","83,517.12","81,991.64","82,381.98","85,873.08","86,834.80","89,750.09","92,952.95","78,580.2080,115.3181,837.1681,021.3581,870.598..."
5,2018,Total Assets of the Banking System (Millions ...,"65,731.09","65,460.47","67,318.47","68,362.48","68,909.37","68,402.24","71,413.78","73,665.72","73,821.71","74,641.05","75,899.85","76,380.39","65,731.0965,460.4767,318.4768,362.4868,909.376..."
6,2017,Total Assets of the Banking System (Millions ...,"58,436.43","58,346.76","58,139.80","58,195.16","58,400.17","59,903.81","61,134.32","59,845.30","59,491.10","63,669.19","63,696.51","66,170.14","58,436.4358,346.7658,139.8058,195.1658,400.175..."
7,2016,Total Assets of the Banking System (Millions ...,"46,129.57","44,928.20","45,333.79","45,962.81","47,218.01","46,457.81","47,038.16","47,895.48","48,344.65","50,723.61","52,926.46","56,692.09","46,129.5744,928.2045,333.7945,962.8147,218.014..."
8,2015,Total Assets of the Banking System (Millions ...,"36,835.27","37,673.40","38,387.80","39,512.45","40,416.77","41,466.52","37,355.35","39,735.98","39,526.20","42,346.69","43,822.29","46,455.23","36,835.2737,673.4038,387.8039,512.4540,416.774..."
9,2014,Total Assets of the Banking System (Millions ...,"27,754.31","28,317.75","29,214.06","29,683.59","30,371.46","30,737.84","31,501.40","31,643.65","32,052.35","33,400.13","34,743.60","36,843.07","27,754.3128,317.7529,214.0629,683.5930,371.463..."
10,2013,Total Assets of the Banking System (Millions ...,"22,199.67","22,505.78","22,990.71","23,061.03","23,213.45","23,303.28","23,302.68","23,236.12","23,997.96","24,937.63","25,843.73","26,937.02","22,199.6722,505.7822,990.7123,061.0323,213.452..."
11,2012,Total Assets of the Banking System (Millions ...,"18,097.37","18,270.45","18,500.16","19,158.59","19,831.40","20,399.11","19,905.35","20,122.88","20,411.94","20,641.99","21,959.08","22,620.05","18,097.3718,270.4518,500.1619,158.5919,831.402..."
12,2011,Total Assets of the Banking System (Millions ...,"13,644.88","13,719.92","14,334.48","14,728.89","14,727.88","15,202.10","15,353.82","15,388.72","15,851.24","16,929.14","17,393.33","18,195.19","13,644.8813,719.9214,334.4814,728.8914,727.881..."
13,2010,Total Assets of the Banking System (Millions ...,"10,222.33","10,094.07","10,538.02","10,408.21","10,467.06","10,846.04","10,770.76","10,830.00","11,170.81","12,259.59","12,924.82","13,663.00","10,222.3310,094.0710,538.0210,408.2110,467.061..."
14,2009,Total Assets of the Banking System (Millions ...,"7,823.97","7,846.65","8,211.88","8,200.38","8,350.25","8,620.94","8,793.86","8,694.71","8,728.77","9,214.49","9,711.33","10,211.40","7,823.977,846.658,211.888,200.388,350.258,620...."
15,2008,Total Assets of the Banking System (Millions ...,"5,710.31","5,758.47","5,959.40","6,010.74","6,251.26","6,197.82","6,518.21","6,694.86","6,938.38","7,059.29","7,194.49","8,128.09","5,710.315,758.475,959.406,010.746,251.266,197...."
16,2007,Total Assets of the Banking System (Millions ...,"4,276.07","4,229.14","4,282.36","4,470.64","4,594.69","4,524.79","4,664.71","4,757.26","4,831.27","5,130.03","5,443.08","5,750.58","4,276.074,229.144,282.364,470.644,594.694,524...."
17,2006,Total Assets of the Banking System (Millions ...,"3,067.31","3,137.95","3,150.08","3,283.51","3,337.19","3,407.94","3,462.11","3,523.58","3,608.26","3,745.66","3,940.15","4,230.25","3,067.313,137.953,150.083,283.513,337.193,407...."
18,2005,Total Assets of the Banking System (Millions ...,"2,587.34","2,605.44","2,633.67","2,689.77","2,689.81","2,710.80","2,711.24","2,801.03","2,700.57","2,870.24","2,876.85","3,046.79","2,587.342,605.442,633.672,689.772,689.812,710...."
19,2004,Total Assets of the Banking System (Millions ...,"2,147.13","2,116.41","2,124.80","2,145.48","2,187.46","2,249.03","2,248.71","2,277.90","2,328.51","2,467.86","2,600.76","2,666.72","2,147.132,116.412,124.802,145.482,187.462,249...."
20,2003,Total Assets of the Banking System (Millions ...,"1,540.84","1,557.51","1,520.98","1,513.55","1,580.82","1,604.27","1,625.45","1,651.07","1,644.59","1,799.66","1,927.77","2,117.39","1,540.841,557.511,520.981,513.551,580.821,604...."
21,2002,Total Assets of the Banking System (Millions ...,"1,043.66","1,057.82","1,074.52","1,079.17","1,102.89","1,125.98","1,164.99","1,181.51","1,213.57","1,303.06","1,432.65","1,536.81","1,043.661,057.821,074.521,079.171,102.891,125...."
22,2001,Total Assets of the Banking System (Millions ...,747.13,751.51,756.23,762.09,765.78,771.13,796.35,807.67,848.53,898.51,966.19,"1,024.80",747.13751.51756.23762.09765.78771.13796.35807....
23,2000,Total Assets of the Banking System (Millions ...,492.93,496.63,514.67,528.89,544.53,564.73,587.95,600.65,627.01,641.76,692.70,724.81,492.93496.63514.67528.89544.53564.73587.95600....

In [57]:
liabilityData

,Year,Variables,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,2022,Total Liabilities of the Bankning System (Mill...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20",0.00,0.00,"137,474.29139,444.38142,729.13142,563.67142,64..."
1,2022,Total Liabilities of the Bankning System (Mill...,"137,474.29","139,444.38","142,729.13","142,563.67","142,642.75","145,156.93","150,415.50","152,455.83","160,157.59","187,659.20","194,979.44","180,266.84","137,474.29139,444.38142,729.13142,563.67142,64..."
2,2021,Total Liabilities of the Bankning System (Mill...,"117,976.85","118,467.48","119,445.22","118,933.79","120,451.55","121,891.32","122,643.76","123,548.57","124,596.60","129,231.01","131,645.92","135,555.75","117,976.85118,467.48119,445.22118,933.79120,45..."
3,2020,Total Liabilities of the Bankning System (Mill...,"91,907.42","91,762.67","92,905.07","94,556.02","98,540.00","100,498.91","101,564.14","102,814.68","109,134.38","112,859.69","116,597.74","120,521.82","91,907.4291,762.6792,905.0794,556.0298,540.001..."
4,2019,Total Liabilities of the Bankning System (Mill...,"78,580.20","80,115.31","81,837.16","81,021.35","81,870.59","83,517.12","81,991.64","82,381.98","85,873.08","86,834.80","89,750.09","92,952.95","78,580.2080,115.3181,837.1681,021.3581,870.598..."
5,2018,Total Liabilities of the Bankning System (Mill...,"65,731.09","65,460.47","67,318.47","68,362.48","68,909.37","68,402.24","71,413.78","73,665.72","73,821.71","74,641.05","75,899.85","76,380.39","65,731.0965,460.4767,318.4768,362.4868,909.376..."
6,2017,Total Liabilities of the Bankning System (Mill...,"58,436.43","58,346.76","58,139.80","58,195.16","58,400.17","59,903.81","61,134.32","59,845.30","59,491.10","63,669.19","63,696.51","66,170.14","58,436.4358,346.7658,139.8058,195.1658,400.175..."
7,2016,Total Liabilities of the Bankning System (Mill...,"46,129.57","44,928.20","45,333.79","45,962.81","47,218.01","46,457.81","47,038.16","47,895.48","48,344.65","50,723.61","52,926.46","56,692.09","46,129.5744,928.2045,333.7945,962.8147,218.014..."
8,2015,Total Liabilities of the Bankning System (Mill...,"36,835.27","37,673.40","38,387.80","39,512.45","40,416.77","41,466.52","37,355.35","39,735.98","39,526.20","42,346.69","43,822.29","46,455.23","36,835.2737,673.4038,387.8039,512.4540,416.774..."
9,2014,Total Liabilities of the Bankning System (Mill...,"27,754.31","28,317.75","29,214.06","29,683.59","30,371.46","30,737.84","31,501.40","31,643.65","32,052.35","33,400.13","34,743.60","36,843.07","27,754.3128,317.7529,214.0629,683.5930,371.463..."
10,2013,Total Liabilities of the Bankning System (Mill...,"22,199.67","22,505.78","22,990.71","23,061.03","23,213.45","23,303.28","23,302.68","23,236.12","23,997.96","24,937.63","25,843.73","26,937.02","22,199.6722,505.7822,990.7123,061.0323,213.452..."
11,2012,Total Liabilities of the Bankning System (Mill...,"18,097.37","18,270.45","18,500.16","19,158.59","19,831.40","20,399.11","19,905.35","20,122.88","20,411.94","20,641.99","21,959.08","22,620.05","18,097.3718,270.4518,500.1619,158.5919,831.402..."
12,2011,Total Liabilities of the Bankning System (Mill...,"13,644.88","13,719.92","14,334.48","14,728.89","14,727.88","15,202.10","15,353.82","15,388.72","15,851.24","16,929.14","17,393.33","18,195.19","13,644.8813,719.9214,334.4814,728.8914,727.881..."
13,2010,Total Liabilities of the Bankning System (Mill...,"10,222.33","10,094.07","10,538.02","10,408.21","10,467.06","10,846.04","10,770.76","10,830.00","11,170.81","12,259.59","12,924.82","13,663.00","10,222.3310,094.0710,538.0210,408.2110,467.061..."
14,2009,Total Liabilities of the Bankning System (Mill...,"7,823.97","7,846.65","8,211.88","8,200.38","8,350.25","8,620.94","8,793.86","8,694.71","8,728.77","9,214.49","9,711.33","10,211.40","7,823.977,846.658,211.888,200.388,350.258,620...."
15,2008,Total Liabilities of the Bankning System (Mill...,"5,710.31","5,758.47","5,959.40","6,010.74","6,251.26","6,197.82","6,518.21","6,694.86","6,938.38","7,059.29","7,194.49","8,128.09","5,710.315,758.475,959.406,010.746,251.266,197...."
16,2007,Total Liabilities of the Bankning System (Mill...,"4,276.07","4,229.14","4,282.36","4,470.64","4,594.69","4,524.79","4,664.71","4,757.26","4,831.27","5,130.03","5,443.08","5,750.58","4,276.074,229.144,282.364,470.644,594.694,524...."
17,2006,Total Liabilities of the Bankning System (Mill...,"3,067.31","3,137.95","3,150.08","3,283.51","3,337.19","3,407.94","3,462.11","3,523.58","3,608.26","3,745.66","3,940.15","4,230.25","3,067.313,137.953,150.083,283.513,337.193,407...."
18,2005,Total Liabilities of the Bankning System (Mill...,"2,587.34","2,605.44","2,633.67","2,689.77","2,689.81","2,710.80","2,711.24","2,801.03","2,700.57","2,870.24","2,876.85","3,046.79","2,587.342,605.442,633.672,689.772,689.812,710...."
19,2004,Total Liabilities of the Bankning System (Mill...,"2,147.13","2,116.41","2,124.80","2,145.48","2,187.46","2,249.03","2,248.71","2,277.90","2,328.51","2,467.86","2,600.76","2,666.72","2,147.132,116.412,124.802,145.482,187.462,249...."
20,2003,Total Liabilities of the Bankning System (Mill...,"1,540.84","1,557.51","1,520.98","1,513.55","1,580.82","1,604.27","1,625.45","1,651.07","1,644.59","1,799.66","1,927.77","2,117.39","1,540.841,557.511,520.981,513.551,580.821,604...."
21,2002,Total Liabilities of the Bankning System (Mill...,"1,043.66","1,057.82","1,074.52","1,079.17","1,102.89","1,125.98","1,164.99","1,181.51","1,213.57","1,303.06","1,432.65","1,536.81","1,043.661,057.821,074.521,079.171,102.891,125...."
22,2001,Total Liabilities of the Bankning System (Mill...,747.13,751.51,756.23,762.09,765.78,771.13,796.35,807.67,848.53,898.51,966.19,"1,024.80",747.13751.51756.23762.09765.78771.13796.35807....
23,2000,Total Liabilities of the Bankning System (Mill...,492.93,496.63,514.67,528.89,544.53,564.73,587.95,600.65,627.01,641.76,692.70,724.81,492.93496.63514.67528.89544.53564.73587.95600....

In [53]:
assetData = assetData.assign(interst_Rates=interest_rate_values)

ValueError: Length of values (23) does not match length of index (24)